/* Custom CSS Styles */
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset Ends */

/* Global Styles */
/*Custom Fonts*/
@font-face {
	font-family: 'ApercuRegular';
	src : url('../assets/fonts/apercu_regular_pro.otf');
}

@font-face{
	font-family: 'ApercuBold';
	src: url('../assets/fonts/Apercu-Bold.otf');
}
/* Stephen */
*:focus {
    outline: none;
}

/* Santhosh */
/*Global Font*/
body{
	font-family: 'ApercuRegular'
}

.m0{
	margin: 0;
}

.pad0{
	padding: 0;
}

/****************************************************************/
/* Custom fonts */
/****************************************************************/

	.user{
		text-transform: uppercase;
		margin: 3% 0;
		font-size: 0.75em;
		font-family: 'ApercuRegular';
		font-weight: 600;
		letter-spacing: 5px;
	}

/******************************************************************************/
/* Work Selection */
/******************************************************************************/
	.workSelection{
		background-color: #ddd;
		padding: 5% 7.5%;
	}

	.workSection{
		position: relative;
	}

	.workSection img{
		transition: all 0.5s;
	}

	.workSection:hover img{
		opacity: 0.15;
	}

	.workSelection .overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		transition: all 2s;
		top: 0px;
	}

	.workSelection .workSection:hover .overlay{
		display: block;
	}

	.workSelection .overlay .overlayContent{
		position: relative;
		top: 38%;
		font-size: 1.5em;
	}

	.workSelection .overlay .overlayContent .ring{
		width: 18px;
		height: 18px;
		border-radius: 100px;
		border: 5px solid black;
		margin: 2% auto;
	}
	.workSelection .overlay .overlayContent .print{
		font-size: 0.6em;
	}

	.workSelection .lorenzoBtn{
		margin: 5% auto 2%;
		box-shadow: 4px 4px rgba(0, 0, 0,1);
		border: 1px solid rgba(0, 0, 0, 1);

	}

/*****************************************************************************/
/* Mobile View XS */
/*****************************************************************************/
@media (max-width: 750px){
	
	/*************************************************************************/
	/* Work Selection */
	/*************************************************************************/
		.workSection:hover img{
			opacity: 1;
		}

		.workSelection .overlay{
			position: initial;
			display: block;
			margin: 5% 0;
    		font-size: 0.8em;
		}

		.workSelection .overlay .overlayContent{
			text-align: left;
		}

		.workSelection .overlay .overlayContent .print{
			margin-top: 2%;
		}
}
/*****************************************************************************/
/* Mobile View SM */
/*****************************************************************************/
@media (max-width: 990px) and (min-width: 751px){

	/*************************************************************************/
	/* Work Selection */
	/*************************************************************************/
		.workSection:hover img{
			opacity: 1;
		}

}

