
/* Stephen */
/* Links */
nav a {
	text-decoration: none;
	color: inherit;
}
nav a:hover {
	text-decoration: none;
	color: #A4A5A4;
}
.navigation {
	height: 100px;
	background-color: #FFFFFF;
}

.nav-link {
	text-align: center;
	text-transform: uppercase;
	margin-top: 38px;
	font-size: 1.1em;
}
.parent-nav {
	background-color: #fff;
}
/* SVG */
.svg-img {
	position: fixed;
    z-index: 1;
	width: 100px;
	height: 100px;
}
/* Hello Sec */
.hello-sec {
	font-family: 'ApercuRegular';
	background-color: #074AA8;
    text-align: center;
}

.eyes {
	display: block;
    margin: 0 auto;
	width: 107px;
    margin-top: 35px;
    height: 100px;
}

.eyes~h2 {
	color: white;
    text-transform: uppercase;
    font-size: small;
	letter-spacing: 5px;
}

.about-txt {
	font-family: 'ApercuRegular';
	color: white;
    width: 43%;
    font-size: xx-large;
    margin: 0 auto;
    margin-top: 4%;
    text-align: start;
	line-height: normal;
}
.eyes~h5 {
    font-size: initial;
    margin-top: 2%;
}
/* View Profile button */
.button-style:hover {
	width: 50px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 38px;
	font-size: 1.1em;
    border: 1px solid #83A5D4;
	color: #83A5D4;
    width: 250px;
    height: 70px;
	background-color: #074AA8;
    box-shadow: unset;
	transform: translate(2px, 2px);
}
.button-style {
	width: 50px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 38px;
	font-size: 1.1em;
    border: 1px solid white;
	color: white;
    width: 250px;
    height: 70px;
	background-color: #074AA8;
	box-shadow: 4px 4px 0px white;
	transition: all 0.10s;
}
.view-profile {
	margin: 30px 0;
    margin-bottom: 5%;
}

.email a {
	color: white;
    text-decoration: underline !important;
	transition: all 0.5s;
}
.email a:hover {
	color: #668FC9;
    text-decoration: underline !important;
	transition: all 0.5s;
}

/* Work 3 Section */
.work-img {
	width: 100%;
	display: block;
  	height: auto;
}
.overlayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #DDDDDD;
}

.work-container:hover .overlayer {
	opacity: 0.7;
}

.work-container:hover .work-txt {
	opacity: 1.5 !important;
}

.work-container {
  position: relative;
  width: 50%;
  margin: 30px 0;
}

.work-txt {
  opacity: 0;
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.spaceout {
	margin: 10px;
}

.work-txt h5 {
	font-size: 0.8em;
}

/* Work Section */
h2.main-text {
	color: black !important;
	margin-bottom: 75px;
	letter-spacing: 5px;
}

/* Work Section RWD */
/* Mobile */
@media (max-width: 750px) {
	.work-container {
		width: 100% !important;
	}

	.work-container:hover .overlayer {
		opacity: 0;
	}

	.work-txt {
		position: relative;
		opacity: 1;
		text-align: left;
		margin-top: 10%;
	}

	.work-txt h5 {
		font-size: 0.7em;
	}

	.overlayer {
		opacity: 0;
	}

	.spaceout {
		display: none;
	}

	/* Hello Section */
	.about-txt {
		width: 92%;
	}

	.button-style, .button-style:hover {
		width: 72%
	}

	/* Header Section */
	.svg-img {
		margin: 0 auto;
		position: relative;
	}

	.navigation {
		text-align: center;
		height: 33px;
	}

	hr {
		margin-top: 0px;
	}

	body {
		overflow-x: hidden;
	}

	.about-txt {
		font-size: x-large;
	}
}

/* Tab */
@media (max-width: 990px) and (min-width: 751px) {
	/* Header Section */
	.svg-img {
		margin: 0 auto;
		position: relative;
	}

	.navigation {
		text-align: center;
		height: 33px;
	}

	hr {
		margin-top: 0px;
	}

	body {
		overflow-x: hidden;
	}
}

/* Santhosh */
/*******************************************************************************/
/* LOV */
/*******************************************************************************/
	.LOV{
		background-color: #ffd464;
	}
	.LOV .LOVWrapper{
		max-width: 824px;
		margin: 10% auto;
	}

	.LOV .LOVWrapper img{
		width: 100%;
		height: auto;

	}

/******************************************************************************/
/* Tweets */
/******************************************************************************/
	.twitter{
		background-color: rgba(19, 82, 162, 1);
		color: rgba(255, 255, 255, 1);
		padding: 6% 6.5%;
		padding-top: 2%;
		font-family: 'ApercuRegular';
	}
	.twitter .twitty{
		margin: 0 auto;
		max-width: 100px;
		max-height: 100px;
	}

	.twitter .tweet{
		font-size: 1.25em;
		margin: 3% 0;
		word-wrap: break-word;
	}
	.twitter .tweet .date{
		font-family: 'ApercuRegular';
		padding-bottom: 12px;
		font-size: 0.75em;
	}

	.tweet p{
		line-height: 2em;
	}

	.twitter .tweet .tag a, .twitter .tweet .link a{
		text-decoration: none;
		color: rgba(255, 255, 255,1);
	}

	.twitter .tweet .tag a,.twitter .tweet .link a{
		border-bottom: 1px solid rgba(255, 255,255,1);
		margin-bottom: 1px;
		transition: all 0.5s;
	}

	.twitter .tweet .tag a:hover, .twitter .tweet .link a:hover{
		border-bottom: 1px solid rgba(255, 255, 255, .5);

		color: rgba(255,255,255,0.5);

	}

	/* Lorenzo Button */
		.lorenzoBtn{
			text-transform: uppercase;
			border: 1px solid rgba(255, 255, 255, 1);
			width: 224px;
			margin: 0 auto;
			text-align: center;
			padding: 25px;
			box-shadow: 4px 4px rgba(255, 255, 255,1);
			transition: all 0.2s;
		}

		.workSelection a{
			text-decoration: none !important;
			color: rgb(0,0,0);
		}

		.lorenzoBtn:hover{
			opacity: 0.5;
			box-shadow: none !important;
			transform: translate(4px, 4px);
		}


/*****************************************************************************/
/* Mobile View XS */
/*****************************************************************************/
@media (max-width: 750px){
	/*************************************************************************/
	/* Twitter */
	/*************************************************************************/
		.twitter .tweet{
			margin: 8% 0;
		}

		.twitter .lorenzoBtn{
			margin: 12% auto;
		}
}
/*****************************************************************************/
/* Mobile View SM */
/*****************************************************************************/
@media (max-width: 990px) and (min-width: 751px){
	/*************************************************************************/
	/* Twitter */
	/*************************************************************************/
	.twitter .tweet{
		margin: 8% 0;
	}

	.twitter .lorenzoBtn{
		margin: 12% auto;
	}
}