/* Stephen */
.eyes {
	display: block;
    margin: 0 auto;
    width: 107px;
    margin-top: 35px;
    height: 100px;
}

.main-text {
	margin-top: 0 !important;
    margin: 0 0 44px 0;
}

.awards-header {
    font-size: inherit;
    color: #6A6B69;
    letter-spacing: 1px;
}

.awards {
	background: #F1F0EE;
	font-family: "ApercuRegular", Helvetica, Helvetica Neue, Arial, sans-serif;
}

.new-list {
	margin-top: 25px;
}

.awards {
	color: #6A6B69;
	letter-spacing: 1px;
	padding: 0 0 60px 0 !important
}

.new-list > p, .new-list > a {
	margin: 0 0 3px 0;
}

.new-list > a, .new-list > a:hover, .new-list > a:visited, .new-list > a:focus, .new-list > a:active {
   color: inherit;
   /*border-bottom: 1px solid #6A6B69;;*/
   padding-bottom: 3px;
   text-decoration: underline;
   display: inline-block;
}

.awards-list {
	padding: 0 10%;
}

/* Santhosh */
/*********************************************************************************/
/* Profile Details */
/*********************************************************************************/
	.profileDt{
		background-color: rgba(255, 212, 100, 1);
		padding: 10% 10% 3% 10%;
		font-family: 'ApercuRegular';
	}

	.profileDt .profileImg{
		max-width: 612px;
		margin: 0 auto;
	}

	.profileDt .caption{
		margin: 1% auto;
		font-size: 1.1em;
	}

	.profileDt .caption a{
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,1);
		margin-bottom: 2px;
		color: #333;
	}

	.profileDt .caption a:hover{
		border-bottom: 1px solid rgba(48, 48, 47, .5);
		color: rgba(48, 48, 47, .5);
	}

	.profileDt .profileInfo{
		padding: 5% 15%; 
		font-size: 1.5em;
	}


	.profileDt .profileInfo p{
		margin-bottom: 5%;
	}

	.profileDt .profileInfo p a{
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,1);
		margin-bottom: 2px;
		color: #333;
	}

	.profileDt .profileInfo p a:hover{
		border-bottom: 1px solid rgba(48, 48, 47, .5);
		color: rgba(48, 48, 47, .5);		
	}

/**********************************************************************************/
/* Mobile Small XS */
/**********************************************************************************/
@media (max-width: 750px){
	.profileDt{
		padding: 10% 5%
	}

	.profileDt .caption{
		font-size: 0.9em;
	}

	.profileDt .profileInfo{
		padding: 18% 0%;
		line-height: 30px;
	}

	.profileDt .profileInfo p{
		margin-bottom: 10%;
	}
}

/*************************************************************************************/
/* Mobile Very Small */
/*************************************************************************************/
@media (min-width: 751px) and (max-width: 990px){
	.profileDt{
		padding: 10% 10%;
	}

	.profileDt .caption{
		font-size: 0.9em;
	}

	.profileDt .profileInfo{
		padding: 18% 0%;
		line-height: 30px;
	}

	.profileDt .profileInfo p{
		margin-bottom: 10%;
	}
}