/*Stephen */


/*Santhosh*/
/**************************************************************************************/
/* Sidebar */
/**************************************************************************************/
	.sidebar{
		position: fixed;
		width: 100px !important;
		height: 100%;
		min-height: 500px;
		top: 0;
	}

	.sidebar .buttons{
		height: 200px;
		margin: 150px auto;
	}

	.sidebar .buttons p{
		margin-bottom: 15px;
	}

	.triangleForward{
		width: 100px;
		height: 44px;
		background: url('../assets/images/icons_nextprevback.png') no-repeat ;
		background-position: -100px 0px;
	}

	.triangleForward.disable{
		opacity: 0.5;
	}
	.triangleBackward{
		width: 100px;
		height: 44px;
		background: url('../assets/images/icons_nextprevback.png') no-repeat ;
		background-position: 0px 0px;
	}
	.triangleBackward.disable{
		opacity: 0.5;
	}
	.tiles{
		width: 100px;
		height: 44px;
		background: url('../assets/images/icons_nextprevback.png') no-repeat ;
		background-position: -200px 0px;
	}

/*************************************************************************************/
/* Main Content */
/*************************************************************************************/
	.mainContentWrapper{
		background-color: rgb(241, 240, 238);
	}

	.mainContent{
		float: none !important;
		margin: 12% auto 5%;
		padding: 2% 0;
		font-family: 'ApercuRegular';
	}

	.mainContent .heading{
		font-size: 2em;
		padding: 0 5%;
	}

	.mainContent .pattern{
		background: url('../assets/images/patterns.png') no-repeat;
		background-position: 0px 0px;
		width: 85px;
    	height: 20px;
    	margin: 2% auto;
	}

	.mainContent .text{
		float: none !important;
		margin: 5% auto;
		font-size: 1.3em;
    	line-height: 35px;
    }

    .mainContent .text p{
    	margin-bottom: 5%;
    	padding: 0 2%;
    }

    .mainContent .text p.notes{
    	font-size: 0.75em;
    	font-weight: lighter;
    }
    .mainContent .text a{
    	text-decoration: none;
    	color: #333;
    	border-bottom: 1px solid #333;
    }

    .mainContent .text a:hover{
    	border-bottom: 1px solid rgba(48, 48, 47, .5);
    	color: rgba(48, 48, 47, .5);
    }

    .mainContent img{
    	margin-bottom: 5%;
    }

    .mainContent .captionImg{
    	margin-bottom: 1%;
    }

    .mainContent .caption{
    	font-weight: lighter;
    	margin-bottom: 5%;
    }
/*********************************************************************/
/* Mobile XS */
/*********************************************************************/
@media (max-width: 750px){
	 .sidebar{
	 	display: none;
	 }

	 .mainContent .pattern{
	 	margin: 10% auto;
	 }
	
	 .mainContent .text{
	 	margin: 10% auto;
	 }
}

/*********************************************************************/
/* Mobile SM */
/*********************************************************************/
@media (max-width: 990px){
	 .sidebar{
	 	display: none;
	 }

	 .mainContent .pattern{
	 	margin: 10% none;
	 }
	
	 .mainContent .text{
	 	margin: 10% auto;
	 }
}

/* Stephen */
/* Nav numbers */
.border-bot {
	border-bottom: 1px solid black;
	width: 30px;
	margin: 0 auto;
}

.space {
	padding: 20px 0 20px 0;
}

.page-comp {
    margin-top: 80%;
}